header {
    display: flex;
    align-items: center;
    background-color: #075800;
    height: 80px;
    width: 100%;
    color: #f4f4f4;

    span {
        font-size: 32px;
        font-weight: 500;
    }
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 40px;
}

.header-container .logo {
    cursor: pointer;
}

.header-container img {
    height: auto;
    width: 32px;
    cursor: pointer;
}