header {
    display: flex;
    align-items: center;
    background-color: #075800;
    height: 80px;
    width: 100%;
    color: #f4f4f4;

    span {
        font-size: 32px;
        font-weight: 500;
    }
}